doctype html
html(lang="en")
	head
		title Weather
		block links
			link(href="/css/style.css", rel="preload", as="style")
			link(href="/css/icons.css", rel="preload", as="style")
			link(href="/scripts/modules/util.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/icons.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/weather_util.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/themes.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/view.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/logger.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/cache.js", rel="modulepreload", as="script")
			link(href="/scripts/modules/app.js", rel="modulepreload", as="script")
			link(href="/scripts/main.js", rel="modulepreload", as="script")

			link(href="/favicon.png", rel="icon")
			link(href="/manifest.json", rel="manifest")
			link(href="/css/style.css", rel="stylesheet", type="text/css")
			link(href="/css/icons.css", rel="stylesheet", type="text/css")
		block scripts
			script(type="module", src="/scripts/main.js")
		block meta
			meta(name="viewport", content="width=device-width")
			meta(name="apple-mobile-web-app-capable", content="yes")
			meta(name="mobile-web-app-capable", content="yes")
			meta(name="theme-color", content="", id="mobile-status-bar-color")
	body
		main
			div#search-container
				input#search(name="query", placeholder="Search", type="text", autocomplete="off")
				span#search-status Loading...
			section#content
				div#top-bar
					h1#parsed-query-pretty
					div#unit-selector
						input#imperial(name="unit-type", value="imperial", type="radio")
						label(for="imperial") Imperial
						input#metric(name="unit-type", value="metric", type="radio")
						label(for="metric") Metric
						input#si(name="unit-type", value="si", type="radio")
						label(for="si") SI
				ul#overview-container.plain
